<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
      <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1>THINGS YOU NEED TO DO</h1>
    </header>
    <form class="" action="/" method="post">
      <button type="submit">ADD ITEM</button>
      <input type="text" name="toDoAdd">
    </form>
    <h2>You need to get these done... Better get started!</h2>
        {{#todos}}
          {{^complete}}
          <ul>
            <li>
              <form class="" action="/{{id}}/complete" method="post"><button type="submit">COMPLETE</button></form>
              <a href="/{{id}}/update">UPDATE</a>
              <form class="" action="/{{id}}/delete" method="post"><button type="submit">DELETE</button></form>
              {{todoitem}}
            </li>
          </ul>
          {{/complete}}
        {{/todos}}
        <h2>Look at all you've done!</h2>
        {{#todos}}
          {{#complete}}
            <ul>
              <li>
                <form class="" action="/{{id}}/delete" method="post"><button type="submit">DELETE</button></form>
                <form class="" action="/{{id}}/redo" method="post"><button type="submit">REDO</button></form>
                <span id="listAdd">{{todoitem}}</span>
              </li>
            </ul>
          {{/complete}}
        {{/todos}}
      <ul>
      </ul>
  </body>
</html>
