<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1>THINGS YOU NEED TO DO</h1>
    </header>
    <form class="" action="/toDoList" method="post">
      <button type="submit" name="button"></button>
      <input type="text" name="toDoAdd" placeholder="What do you want to do?" value="">
      <ul>
        <h2>You need to get these done... Better get started!</h2>
        {{#toDoList}}
            <li> {{^completed}}
            <a href="/{{id}}">Click When Completed</a>
            <span id="listAdd">{{item}}</span>
            {{/completed}}
          </li>
        {{/toDoList}}
      </ul>
      <ul>
        <h2>Look at all you've done!</h2>
      {{#toDoList}}
        <li>{{#completed}}
          {{item}}
          {{/completed}}
        </li>
      {{/toDoList}}
      </ul>
    </form>
  </body>
</html>
